<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:secu="http://www.springframework.org/schema/security"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/security http://www.springframework.org/schema//security/spring-security-3.0.xsd"
	default-lazy-init="false">

	<secu:global-method-security secured-annotations="enabled" jsr250-annotations="enabled" pre-post-annotations="enabled"/>

	<!--
	<http pattern="/static/**" security="none" />
	<http pattern="/expose/**" security="none" />
	-->
	<secu:http>
		<secu:form-login default-target-url="/" login-processing-url="/security_check.do"
			login-page="/expose/login.do" authentication-failure-url="/expose/login.do?login_error=1" />
		<secu:logout logout-url="/security_logout.do" />
		<secu:remember-me />
		<secu:anonymous enabled="false"/>
		<secu:custom-filter ref="resourceSecurityInterceptor" after="LAST"/>
		<!--<session-management invalid-session-url="/timeout.do">
			<concurrency-control max-sessions="1" error-if-maximum-exceeded="false" />
		</session-management>
	--></secu:http>
	
	<bean id="resourceSecurityInterceptor" class="org.springframework.security.web.access.intercept.FilterSecurityInterceptor">    
       <property name="authenticationManager" ref="authenticationManager"/>    
       <property name="accessDecisionManager" ref="unanimousAccessDecisionManager"/>    
       <property name="objectDefinitionSource" ref="frameFilterInvocationSecurityMetadataSource" />    
       <property name="observeOncePerRequest" value="false" />    
   </bean>  
	<bean id="unanimousAccessDecisionManager" class="org.springframework.security.access.vote.AffirmativeBased">
		<property name="allowIfAllAbstainDecisions" value="false"></property>
		<property name="decisionVoters" ref="roleVoter"></property>
	</bean>
	<bean id="roleVoter" class="org.springframework.security.access.vote.RoleVoter">
		<property name="rolePrefix" value=""></property>
	</bean>

	<secu:authentication-manager alias="authenticationManager">
		<secu:authentication-provider user-service-ref="customUserDetailsService">
			<secu:password-encoder hash="md5" />
		</secu:authentication-provider>
	</secu:authentication-manager>
</beans>